ngx-breadcrumb {
  padding: $breadcrumb-padding-vertical $breadcrumb-padding-horizontal;
  margin-bottom: $spacer-y;
  background-color: $breadcrumb-bg;
  display: block;
  @include border-radius($border-radius);
  @include clearfix;

  > ngx-item {
    float: left;

    + ngx-item::before {
      padding-right: .5rem;
      padding-left: .5rem;
      color: $breadcrumb-divider-color;
      content: "#{$breadcrumb-divider}";
    }
  }

  > .active {
    color: $breadcrumb-active-color;
  }
}
