ngx-checkbox-group {
  > .btn-group-vertical, > .btn-group {
    & > ngx-checkbox:not(:first-child):not(:last-child) > .btn {
      @include border-radius(0);
    }

    & > ngx-checkbox > .btn:hover {
      z-index: 2;
    }

    & > ngx-checkbox > .btn.active,
    & > ngx-checkbox > .btn:active,
    & > ngx-checkbox > .btn:focus {
      z-index: 2;
    }

    & > ngx-checkbox > .btn {
      position: relative;
      float: left;
    }
  }

  > .btn-group-vertical {
    > ngx-checkbox:first-child:not(:last-child) > .btn {
      border-top-right-radius: $btn-border-radius;
      @include border-bottom-radius(0);
    }

    > ngx-checkbox:last-child:not(:first-child) > .btn {
      border-bottom-left-radius: $btn-border-radius;
      @include border-top-radius(0);
    }

    > ngx-checkbox > .btn,
    > ngx-checkbox > .btn-group,
    > ngx-checkbox > .btn-group > .btn {
      display: block;
      float: none;
      width: 100%;
      max-width: 100%;
    }
  }

  > .btn-group {
    > ngx-checkbox:first-child:not(:last-child) > .btn {
      @include border-right-radius(0);
    }

    > ngx-checkbox:first-child > .btn {
      margin-left: 0;
    }

    > ngx-checkbox:last-child:not(:first-child) > .btn {
      @include border-left-radius(0);
    }
  }
}
