ngx-pagination > ngx-link {
  display: inline-block;

  > a {
    position: relative;
    float: left;
    padding: $pagination-padding-y $pagination-padding-x;
    margin-left: -1px;
    line-height: $line-height;
    color: $pagination-color;
    text-decoration: none;
    background-color: $pagination-bg;
    border: $pagination-border-width solid $pagination-border-color;

    @include hover-focus {
      color: $pagination-hover-color;
      background-color: $pagination-hover-bg;
      border-color: $pagination-hover-border;
    }
  }

  &:first-child > a {
     margin-left: 0;
     @include border-left-radius($border-radius);
  }
  &:last-child > a {
    @include border-right-radius($border-radius);
  }

  & > a.active {
    @include plain-hover-focus {
      z-index: 2;
      color: $pagination-active-color;
      cursor: default;
      background-color: $pagination-active-bg;
      border-color: $pagination-active-border;
    }
  }

  & > a.disabled {
    @include plain-hover-focus {
      color: $pagination-disabled-color;
      cursor: $cursor-disabled;
      background-color: $pagination-disabled-bg;
      border-color: $pagination-disabled-border;
    }
  }
}

@mixin ngx-pagination-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) {
  > ngx-link {
    > a {
      padding: $padding-vertical $padding-horizontal;
      font-size: $font-size;
      line-height: $line-height;
    }

    &:first-child > a {
      @include border-left-radius($border-radius);
    }
    &:last-child > a {
      @include border-right-radius($border-radius);
    }
  }
}

ngx-pagination.pagination-sm {
  @include ngx-pagination-size($pagination-padding-y-sm, $pagination-padding-x-sm, $font-size-sm, $line-height-sm, $border-radius-sm);
}
ngx-pagination.pagination-lg {
  @include ngx-pagination-size($pagination-padding-y-lg, $pagination-padding-x-lg, $font-size-lg, $line-height-lg, $border-radius-lg);
}