ngx-breadcrumb {
  padding: $breadcrumb-padding-vertical $breadcrumb-padding-horizontal;
  margin-bottom: $spacer-y;
  background-color: $breadcrumb-bg;
  display: block;
  @include border-radius($border-radius);
  @include clearfix;

  @mixin breadcrumb-divider(){
    padding-right: .5rem;
    padding-left: .5rem;
    color: $breadcrumb-divider-color;
    content: "#{$breadcrumb-divider}";
  }

  > ngx-link {
    float: left;

    + ngx-link::before {
      @include breadcrumb-divider()
    }

    &:nth-last-child(-n+2)::after {
       @include breadcrumb-divider()
    }
  }

  > ngx-item {
    float: left;
    color: $breadcrumb-active-color;
  }
}
