ngx-dropdown.open{
  display: block;
}

ngx-dropdown.dropup{
  top: auto;
  bottom: 100%;
  margin-bottom: 2px;
}

ngx-dropdown > ngx-item,
ngx-dropdown > ngx-link{
  display: block;
  width: 100%;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: $line-height;
  color: $dropdown-link-color;
  text-align: inherit;
  white-space: nowrap;
  background: none; 
  border: 0;
  cursor: pointer;

   @include hover-focus {
    color: $dropdown-link-hover-color;
    text-decoration: none;
    background-color: $dropdown-link-hover-bg;
  }

  &.active {
    @include plain-hover-focus {
      color: $dropdown-link-active-color;
      text-decoration: none;
      background-color: $dropdown-link-active-bg;
      outline: 0;
    }
  }

  &.disabled {
    @include plain-hover-focus {
      color: $dropdown-link-disabled-color;
    }

    @include hover-focus {
      text-decoration: none;
      cursor: $cursor-disabled;
      background-color: transparent;
      background-image: none; 
      @include reset-filter();
    }
  }
}

ngx-dropdown > ngx-link > a{
  color: $dropdown-link-color;
  @include hover-focus {
    color: $dropdown-link-hover-color;
    text-decoration: none;
  }
}

.dropdown-toggle.dropup {
  &::after {
    border-top: 0;
    border-bottom: $caret-width solid;
  }
}