@import "../typography/typography.scss";
@import "../palette/palette.scss";

$ngx-headings-margin-bottom: .5rem !default;
$ngx-headings-font-family: inherit !default;
$ngx-headings-font-weight: 500 !default;
$ngx-headings-line-height: ngx-line-height(sm) !default;
$ngx-headings-foreground-color: inherit !default;

$ngx-hr-margin: 1rem 0 !default;
$ngx-hr-border-width: 1px !default;
$ngx-hr-border-color: ngx-color-dark($ngx-color-black, dark);

$ngx-mark-background-color: ngx-color($ngx-color-warning);

$ngx-body-background-color: ngx-color-light($ngx-color-white) !default;
$ngx-body-foreground-color: ngx-color-dark($ngx-color-gray) !default;

$ngx-text-muted: ngx-color-light($ngx-color-gray) !default;

$ngx-link-color: ngx-color($ngx-color-primary) !default;
$ngx-link-decoration: none !default;
$ngx-link-hover-color: ngx-color-dark($ngx-color-primary) !default;
$ngx-link-hover-decoration: underline !default;

$ngx-table-background-color: transparent !default;
$ngx-table-cell-padding: .75rem !default;


$ngx-abbr-border-color: ngx-color-light($ngx-color-gray) !default;

$ngx-dt-font-weight: bold !default;

//In order to avoid test-ui get errors, keep this code temporatily
//Will removed them after merging all components to develop branch
%ngx-h-normalize {
  font-weight: 500;
  line-height: 1.1rem;
  margin-top: 0;
  margin-bottom: .5rem;
  color: inherit;
}

%ngx-p-normalize {
  margin-top: 0;
  margin-bottom: 1rem;
}

%ngx-hr-normalize {
  height: 0;
  border-width: 0;
  border-top-width: 1px;
  border-style: solid;
  box-sizing: content-box;
}

%ngx-link-normalize {
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;

  &:focus,
  &:hover,
  &:active {
    outline: 0;
  }
}

%ngx-img-normalize {
  border: 0;
  vertical-align: middle;
}
//-----------------------------------------------------------------------
