@import "../../../cores/scss/typography/typography.scss";
@import "../../../cores/scss/palette/palette.scss";

$ngx-navbar-padding: .5rem 1rem !default;

$ngx-navbar-index: 1000 !default;


$ngx-navbar-divider-padding: .425rem 0 .425rem 0 !default;

$ngx-navbar-divider-margin: 0 1rem 0 1rem !default;


$ngx-navbar-brand-font-size: ngx-font-size(lg) !default;

$ngx-navbar-brand-padding: .25rem 0 .25rem 0 !default;

$ngx-navbar-brand-margin: 0 0 0 1rem !default;


$ngx-navbar-item-padding: .425rem 0 .425rem 0 !default;


$ngx-navbar-default: $ngx-component-default !default;

$ngx-navbar-primary: $ngx-component-primary !default;

$ngx-navbar-info: $ngx-component-info !default;

$ngx-navbar-success: $ngx-component-success !default;

$ngx-navbar-warning: $ngx-component-warning !default;

$ngx-navbar-danger: $ngx-component-danger !default;