@import "../../../cores/scss/typography/typography.scss";
@import "../../../cores/scss/border/border.scss";
@import "../../../cores/scss/palette/palette.scss";

$ngx-popover-font-size: ngx-font-size(sm) !default;

$ngx-popover-max-width: 200px !default;

$ngx-popover-index: 1000 !default;

$ngx-popover-border-radius: ngx-border-radius(lg) !default;


$ngx-popover-title-font-size: ngx-font-size(base) !default;

$ngx-popover-title-padding: 8px 14px !default;

$ngx-popover-title-background-color: ngx-color-light($ngx-color-gray, light);


$ngx-popover-content-padding: 9px 14px !default;


$ngx-popover-arrow-width: 10px !default;


$ngx-popover: (
  default: (
    background-color: ngx-color-light($ngx-color-white),
    border-color: ngx-color-light($ngx-color-black, light)
  )
) !default;