@import "_variables.scss";

@mixin ngx-label-variant($component){
  $component-default: map-get($component, default);

  color: map-get($component-default, foreground-color);
  background-color: map-get($component-default, background-color);
}