@import "../../../cores/scss/typography/typography.scss";
@import "../../../cores/scss/state/state.scss";

@import "_variables.scss";

:host(.ngx-pager) {
  padding-left: 0;
  margin: $ngx-pager-margin;
  text-align: center;

  @include ngx-clearfix();

  > .ngx-pager-item {
    $component-default: map-get($ngx-pager-item, default);
    $component-active: map-get($ngx-pager-item, active);

    display: inline-block;
    text-decoration: none;
    padding: 5px 14px;
    color: map-get($component-default, foreground-color);
    background-color: map-get($component-default, background-color);
    border: 1px solid map-get($component-default, border-color);
    border-radius: $ngx-pager-item-border-radius;

    @include ngx-state(ngx-pager-item, 'focus hover'){
      background-color: map-get($component-active, background-color);
    }
  }

  &.ngx-pager-type-aligned {
    > .ngx-pager-left-item { float: left; }
    > .ngx-pager-right-item { float: right; }
  }
}
