:host(.ngx-label) {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0;
}

:host(.ngx-label:empty) {
  display: none;
}

:host(.ngx-label-type-pill) {
  
}

:host(.ngx-label-color-primary) {
  background-color: #337ab7;
}

:host(.ngx-label-color-secondary) {
  background-color: #777;
}

:host(.ngx-label-color-success) {
  background-color: #5cb85c;
}

:host(.ngx-label-color-info) {
  background-color: #5bc0de;
}

:host(.ngx-label-color-warning) {
  background-color: #f0ad4e;
}

:host(.ngx-label-color-danger) {
  background-color: #d9534f;
}