.ngx-label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0;
}

.ngx-label:empty {
  display: none;
}

.ngx-label-type-pill {
  
}

.ngx-label-color-default {
  background-color: #777;
}

.ngx-label-color-primary {
  background-color: #337ab7;
}

.ngx-label-color-success {
  background-color: #5cb85c;
}

.ngx-label-color-info {
  background-color: #5bc0de;
}

.ngx-label-color-warning {
  background-color: #f0ad4e;
}

.ngx-label-color-danger {
  background-color: #d9534f;
}