@import "../../../cores/styles/palette/palette.scss";
@import "../../../cores/styles/border/border.scss";
@import "../../../cores/styles/typography/typography.scss";


$ngx-modal-index: 1050 !default;
$ngx-modal-width-lg: 900px !default;
$ngx-modal-width-md: 600px !default;
$ngx-modal-width-sm: 300px !default;

$ngx-modal-dialog-margin: 10px !default;

$ngx-modal-content-background-color: ngx-color-light($ngx-color-white) !default;
$ngx-modal-content-border: 1px solid ngx-color-light($ngx-color-gray) !default;
$ngx-modal-content-border-radius: ngx-border-radius(lg) !default;

$ngx-modal-header-padding: 15px !default;
$ngx-modal-header-border-bottom: 1px solid ngx-color-light($ngx-color-gray, light) !default;

$ngx-modal-title-line-height: ngx-line-height(base) !default;

$ngx-modal-body-padding: 15px !default;

$ngx-modal-footer-padding: 15px !default;
$ngx-modal-footer-border-top: 1px solid ngx-color-light($ngx-color-gray, light) !default;