@import "_variables.scss";

@mixin ngx-progress-variant($component){
  $component-default: map-get($component, default);

  > .ngx-progress-bar {
    color: map-get($component-default, foreground-color);
    background-color: map-get($component-default, background-color);
  }
}