@import "../../../cores/scss/typography/typography.scss";
@import "../../../cores/scss/palette/palette.scss";

$ngx-list-item-padding: .75rem 1.25rem !default;

$ngx-list-item-line-height: ngx-line-height(base) !default;

$ngx-list-item-border: 1px solid;


$ngx-list-item-primary: (
  active: map-get($ngx-component-primary, default),
  hover: map-get($ngx-component-default, default),
  default: map-get($ngx-component-secondary, default),
  disabled: map-get($ngx-component-secondary, disabled)
) !default;

$ngx-list-item-info: $ngx-component-contextual-info !default;

$ngx-list-item-success: $ngx-component-contextual-success !default;

$ngx-list-item-warning: $ngx-component-contextual-warning !default;

$ngx-list-item-danger: $ngx-component-contextual-danger !default;