<h3>ngxCheckbox</h3>
<center>
  <ngx-checkbox color="{{COLORS.PRIMARY}}"
                [(model)]="ngxCheckboxTracker.value"
                checked-value="checked"
                unchecked-value="unchecked">Track ngxCheckbox</ngx-checkbox>
</center>

<div>ngxCheckbox's state: {{ngxCheckboxTracker.value}}</div>

<hr/>

<h3>ngxCheckbox With ngxCheckBoxGroup</h3>
<center>
  <ngx-checkbox-group [(model)]="ngxCheckboxGroupTracker">
    <ngx-checkbox color="primary" checked-value="item 01">Item 01</ngx-checkbox>
    <ngx-checkbox color="success" type="outline" checked-value="item 02">Item 02</ngx-checkbox>
    <ngx-checkbox color="info" checked-value="item 03">Item 03</ngx-checkbox>
  </ngx-checkbox-group>
</center>

<div>
  selected item:
  <ul>
    <li *ngFor="#item of ngxCheckboxGroupTracker">{{item}}</li>
  </ul>
</div>

<h3>ngxCheckbox With vertical ngxCheckBoxGroup</h3>
<center>
  <ngx-checkbox-group type="vertical" [(model)]="ngxVerticalCheckboxGroupTracker">
    <ngx-checkbox color="primary" checked-value="item 01">Item 01</ngx-checkbox>
    <ngx-checkbox color="success" type="outline" checked-value="item 02">Item 02</ngx-checkbox>
    <ngx-checkbox color="info" checked-value="item 03">Item 03</ngx-checkbox>
  </ngx-checkbox-group>
</center>

<div>
  selected item:
  <ul>
    <li *ngFor="#item of ngxVerticalCheckboxGroupTracker">{{item}}</li>
  </ul>
</div>