@import "../../../cores/styles/typography/typography.scss";
@import "../../../cores/styles//palette/palette.scss";

$ngx-link-font-size: ngx-font-size(base) !default;
$ngx-link-font-size-sm: ngx-font-size(sm) !default;
$ngx-link-font-size-lg: ngx-font-size(lg) !default;

$ngx-link-font-weight: normal !default;

$ngx-link-primary: (
  active:(
    foreground-color: ngx-color-dark($ngx-color-primary)
  ),
  default: (
    foreground-color: ngx-color($ngx-color-primary)
  ),
  disabled: (
    foreground-color: ngx-color($ngx-color-primary, $opacity: $ngx-opacity-disabled)
  )
) !default;

$ngx-link-secondary: (
  active:(
    foreground-color: ngx-color-dark($ngx-color-gray)
  ),
  default: (
    foreground-color: ngx-color-light($ngx-color-gray)
  ),
  disabled: (
    foreground-color: ngx-color($ngx-color-gray, light, $ngx-opacity-disabled)
  )
) !default;

$ngx-link-info: (
  active:(
    foreground-color: ngx-color-dark($ngx-color-info)
  ),
  default: (
    foreground-color: ngx-color($ngx-color-info)
  ),
  disabled: (
    foreground-color: ngx-color($ngx-color-info, $opacity: $ngx-opacity-disabled)
  )
) !default;

$ngx-link-success: (
  active:(
    foreground-color: ngx-color-dark($ngx-color-success)
  ),
  default: (
    foreground-color: ngx-color($ngx-color-success)
  ),
  disabled: (
    foreground-color: ngx-color($ngx-color-success, $opacity: $ngx-opacity-disabled)
  )
) !default;

$ngx-link-warning: (
  active:(
    foreground-color: ngx-color-dark($ngx-color-warning)
  ),
  default: (
    foreground-color: ngx-color($ngx-color-warning)
  ),
  disabled: (
    foreground-color: ngx-color($ngx-color-warning, $opacity: $ngx-opacity-disabled)
  )
) !default;

$ngx-link-danger:(
  active:(
    foreground-color: ngx-color-dark($ngx-color-danger)
  ),
  default: (
    foreground-color: ngx-color($ngx-color-danger)
  ),
  disabled: (
    foreground-color: ngx-color($ngx-color-danger, $opacity: $ngx-opacity-disabled)
  )
) !default;