@import "_mixins.scss";

:host(.ngx-card) {
  display: block;
  position: relative;
  padding: $ngx-card-padding;
  margin: $ngx-card-margin;
  border: $ngx-card-boder;

  @include ngx-border-radius($ngx-card-boder-radius);

  ngx-card-title {
    display: block;
    margin: $ngx-card-title-margin;
  }

  ngx-card-subtitle {
    display: block;
    margin: $ngx-card-subtitle-margin;
  }

  > .ngx-card-header {
    display: flex;
    flex-direction: row;

    > ngx-card-image {
      padding-right: 10px;

      &[align-self="start"] {
        align-self: flex-start;
      }

      &[align-self="center"] {
        align-self: center;
      }

      &[align-self="end"] {
        align-self: flex-end;
      }
    }

    > .ngx-card-header-content {
      min-width: 1px;
      flex: 1;
    }

    > ngx-card-actions {
      padding-left: 10px;

      &[align-self="start"] {
        align-self: flex-start;
      }

      &[align-self="center"] {
        align-self: center;
      }

      &[align-self="end"] {
        align-self: flex-end;
      }
    }
  }

  > ngx-card-image {
    display: block;
    width: $ngx-card-image-width;
    margin: $ngx-card-image-margin;

    > img {
      width: 100%;
    }

    &:first-child {
      margin-top: $ngx-card-image-first-child-margin-top;
      > img {
        @include ngx-border-radius($ngx-card-boder-radius, top);
      }
    }

    &:last-child {
       margin-bottom: $ngx-card-image-last-child-margin-bottom;
      > img {
        @include ngx-border-radius($ngx-card-boder-radius, bottom);
      }
    }
  }

  > ngx-card-content {
    display: block;

    > *:last-child {
      margin-bottom: 0;
    }
  }

  > ngx-card-actions {
    display: flex;
    margin: $ngx-card-actions-margin;

    > *:not(:first-child) {
      margin: $ngx-card-actions-item-margin;
    }

    &[justify-content="start"] {
      justify-content: flex-start;
    }

    &[justify-content="center"] {
      justify-content: space-around;
    }

    &[justify-content="end"] {
      justify-content: flex-end;
    }
  }

  &.ngx-card-color-primary {
    @include ngx-card-variant($ngx-card-primary);
  }

  &.ngx-card-color-secondary {
    @include ngx-card-variant($ngx-card-secondary);
  }

  &.ngx-card-color-info {
    @include ngx-card-variant($ngx-card-info);
  }

  &.ngx-card-color-success {
    @include ngx-card-variant($ngx-card-success);
  }

  &.ngx-card-color-warning {
    @include ngx-card-variant($ngx-card-warning);
  }

  &.ngx-card-color-danger {
    @include ngx-card-variant($ngx-card-danger);
  }
}