@import "../../../cores/scss/state/state.scss";

@import "_variables.scss";

:host(.ngx-tabs) > .ngx-tabs-headers {
  display: block;
  padding: $ngx-tabs-headers-padding;
  margin:$ngx-tabs-headers-margin;
  border-bottom: $ngx-tabs-headers-border-bottom;

  @include ngx-clearfix();

  > .ngx-tabs-header {
    $component-default: map-get($ngx-tabs-header, default);
    $component-hover: map-get($ngx-tabs-header, hover);
    $component-active: map-get($ngx-tabs-header, active);
    $component-disabled: map-get($ngx-tabs-header, disabled);

    display: block;
    float: left;
    color: map-get($component-default, foreground-color);
    background-color: transparent;
    text-decoration: none;
    padding: $ngx-tabs-header-padding;
    margin: $ngx-tabs-header-margin;    
    border: $ngx-tabs-header-border;
    cursor: pointer;
    
    @include ngx-border-radius($ngx-tabs-header-border-radius, top);

    + .ngx-tabs-header {
      margin-left: .2rem;
    }

    @include ngx-state(ngx-tabs-header, 'focus hover'){
      border-color: map-get($component-hover, border-color);
    }

    @include ngx-state(ngx-tabs-header, 'active'){
      color: map-get($component-active, foreground-color);
      background-color: map-get($component-active, background-color);
      border-color: map-get($component-active, border-color);
    }

    @include ngx-state(ngx-tabs-header, 'disabled'){
      color: map-get($component-disabled, foreground-color);
      border-color: transparent;
      cursor: not-allowed;
    }
  }
}


:host(.ngx-tabs).ngx-tabs-type-pill > .ngx-tabs-headers {
  border-bottom: initial;

  > .ngx-tabs-header { 
    $component-default: map-get($ngx-tabs-pill-header, default);
    $component-active: map-get($ngx-tabs-pill-header, active);
    $component-disabled: map-get($ngx-tabs-pill-header, disabled);

    color: map-get($component-default, foreground-color);
    background-color: map-get($component-default, background-color);
    border: initial;
    
    @include ngx-border-radius($ngx-tabs-header-border-radius);

    @include ngx-state(ngx-tabs-header, 'active'){
      color:  map-get($component-active, foreground-color);
      background-color: map-get($component-active, background-color);

      a {
        color:  map-get($component-active, foreground-color);
      }
    }

    @include ngx-state(ngx-tabs-header, 'disabled'){
      color: map-get($component-disabled, foreground-color);
    }
  }
}


:host(.ngx-tabs) > .ngx-tabs-contents {
  display: block;

  > .ngx-tab {
    display: none;
    opacity: 0;

    @include ngx-state(ngx-tab, 'active'){
      display: block;
    }
  }
}